body
{

    position: relative;
    width: 1000px;
    height: 1000px;


}
.box
{
    position: fixed;
    width: 1592px;
    height: 1000px;
    left: -650px;
    top: 0px;

    z-index: -99;
}
.tennis
{
    position: fixed;
    width: 1575px;
    height: 1000px;
    left: 942px;
    top: 0px;
    z-index: -99;
}

.conteneur
{
    position: absolute;
    width: 688px;
    height: 537px;
    left: 60%;
    top:10%;
    margin-top: 100px;
    background: rgba(24, 93, 102, 0.65);
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}


p
{

    width: 499px;
    height: 53px;
    left: 1200px;
    top: 296px;
    margin-left: 100px;
    font-style: normal;
    font-weight: normal;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 40px;
    line-height: 50px;
    color: #FEFEFE;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.pseudo
{
    margin: 20px;
    width: 569px;
    height: 88px;
    left: 448px;
    top: 399px;
    margin-left: 55px;
    background: rgba(55, 177, 193, 0.8);
    border-radius: 50px;
}


.mdp
{

    margin: 20px;
    margin-left: 55px;
    width: 569px;
    height: 88px;
    left: 448px;
    top: 550px;
    background: rgba(55, 177, 193, 0.8);
    border-radius: 50px;
}

/* Pas de compte ? Inscrivez-vous */
.inscription
{
    text-align: center;
    margin-left: 76px;
    width: 552px;
    height: 39px;
    left: 457px;
    top: 662px;
    font-family: Rubik Mono One;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: white;

}
.go
{
    margin-left: 225px;
    font-family: "Rubik Mono One";
    width: 201px;
    height: 66px;
    left: 632px;
    top: 701px;
    color: white;
    font-size: 30px;
    background: #37B1C1;
    border-radius: 50px;
    font-weight: normal;
}
::placeholder
{
    text-align: center;
    font-family: Rubik Mono One;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;

    color: rgba(255, 255, 255, 0.7);
}
.separation
{

    position: absolute;
    width: 0px;
    height: 1030px;
    left:934px;
    top:0px;
    margin-top: -10px;

    border: 10px solid #FFFFFF;
}

input[type=password]
{
    text-align: center;
    font-family: Rubik Mono One;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;

    color: rgba(255, 255, 255,);
}
input[type=text]
{
    text-align: center;
    font-family: Rubik Mono One;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;

    color: rgba(255, 255, 255,);
}



