html, body{
    margin:0;
    padding:0;
    min-height: 100%;
    width:100%;
    background: #37B1C1;
}

.container {
    background: #064753;
    width: 60%;
    margin: auto 20%;
    min-height: 90vh;
    max-height: 100vh;
    position: absolute;

}

.conv {
    max-width: 80%;
    height: auto;
    background: rgba(196, 196, 196, 0.45);
    margin: 20px 26px;
    padding: 15px;
    display: block;
    position: relative;
}

.top {
    height: 5%;
    max-height: 5%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background: #064753;
    padding-bottom: 20px;
}

.chat {
    overflow-y: scroll;
    max-height: 85vh;
    margin-bottom: 30%;
}

h3 {
    color: whitesmoke;
    display: inline-block;
    text-align: center;
    margin-left: 33%;
}

i {
    font-size: 30px;
    cursor: pointer;
    margin-left: 26px;
}

.message {
    max-width: 50%;
    height: auto;
    background: rgba(196, 196, 196, 0.45);
    margin: 20px 26px;
    padding: 15px;
    display: block;
    position: relative;
}

.delimiter {
    margin: 30% auto;
}

.bottomBar {
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-bottom: 10px;
}

textarea {
    border: none;
    min-width: 75%;
    float: left;
    position: relative;
    border-bottom: 1px solid #c4c4c4;
    background: center no-repeat;
    margin-left: 20px;
    color: white;
}

input[type=submit] {
    background: #05728f;
    margin: 0 20px;
    width: 15%;
    border-radius: 15%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    float: left;
}