body {
    background-color: #064753;
    color: whitesmoke;
}

h1 {
    font-family: 'Rubik Mono One';
    text-align: center;
}

label {
    font-size: 20px;
    font-family: sans-serif;
}

#publication_message {
    display: flex;
    width: 100%;
}

input[type=submit]{
    position: absolute;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    background: #37B1C1;
    border-radius: 50px;
    border: 1px solid #064753;
    outline: medium none;
    padding: 15px;
    text-decoration: none;
    left: 45%;
}

input[type="checkbox"] {
    top: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

